---
layout: article
key: page-about
comment: false
---

<img src="https://avatars.githubusercontent.com/u/6036624?s=60&v=4" class="avatar" vspace="50" />
<br>

<h2>
  About Me
</h2>

<div>
  My name is Binbin Zhang (张彬彬). I'm the creator of the open source project <a href="https://github.com/wenet-e2e/wenet">WeNet</a>, which is a popular, production first and production ready end-to-end speech recognition toolkit. WeNet is now maintained by <a href="https://www.chumenwenwen.com/aboutus/intro.html">Mobvoi</a>, <a href="http://lxie.npu-aslp.org/">NWPU</a>, and <a href="https://github.com/wenet-e2e/">wenet-e2e</a>.<br>

  My research interests include speech, especially speech recognition.
</div>

<h2>
  Education
</h2>

<div>
  <strong>M.S. in Computer Science and Technology, adviced by <a href="http://lxie.npu-aslp.org/">Prof Lei Xie</a></strong><br>
  Northwestern Polytechnical University, 2014 to 2017.
  <br><br>
  <strong>B.E. in Computer Science and Technology</strong><br>
  Northwestern Polytechnical University, 2010 to 2014.
</div>

<h2>
  Work Experiences
</h2>

<div>
  <strong>Speech Scientist @ Mobvoi </strong><br>
  Focusing on speech tech and products, end-to-end speech recognition, 2018.08 to now <br>
  <br><br>
  <strong>Speech Scientist @ Microsoft</strong><br>
  Focusing on acoustic modeling, 2017.04 to 2018.08<br>
  <br><br>
  <strong>Intern @ Horizon Robotics</strong><br>
  Focusing on acoustic modeling, 2016<br>
  <br><br>
  <strong>Intern @ Baidu Inc</strong><br>
  Focusing on acoustic modeling, 2015<br>
</div>

<h2>
  Publications
</h2>

<div>
  Please visit my <a href="https://scholar.google.com/citations?user=IduEkNQAAAAJ&hl=en">Google Scholar profile</a>.
</div>

<style>
img.center {
    display: block;
    margin: 0 auto;
}
img.avatar {
    border-radius: 50%;
    display: block;
    margin: 30px auto;
    width: 150px;
}
</style>

